<% layout('layout/boilerplate') %>

        <h1 class="text-center">All campgrounds!</h1>
        <div class="col-3 offset-9">
                <a href="/campgrounds/new"><button class="btn btn-sm btn-outline-success m-3">Add New
                                Campground</button></a>
        </div>
        <% for (let c of campgrounds) {%>
                <div class="card mb-3">
                        <div class="row d-flex align-items-center">
                                <div class="col-md-4 ">
                                        <div class=" ratio ratio-16x9">
                                                <img class="img-fluid img-thumbnail" alt="" src="<%= c.image %> ">
                                        </div>
                                </div>
                                <div class="col-md-6 ">
                                        <div class="card-body ">
                                                <h3 class="card-title">
                                                        <%= c.title %>
                                                </h3>
                                                <!-- <p class="card-text">
                                                                 <%= c.description %> 
                                                        </p> -->
                                                <p class="card-text">
                                                        <small class="text-muted">
                                                                <%= c.location %>
                                                        </small>
                                                </p>
                                                <div class="d-flex justify-content-center">
                                                        <a href="/campgrounds/<%= c._id %> "
                                                                class="btn  btn-sm btn-danger">View
                                                                Details</a>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                </div>
                <% } %>